@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
/* custom swiper */
.carousel-arrows {
	box-shadow: 0 4px 10px 0 rgba(46, 16, 102, 0.25);
}
.swiper-pagination-bullet{
	background-color: #5946D7 !important;
	width: 50px !important;
	height: 4px !important;
	border-radius: 5px !important;
	opacity: 0.5 !important;
}
.swiper-pagination-bullet-active{
	background-color: #5946D7 !important;
	width: 50px !important;
	height: 4px !important;
	border-radius: 5px !important;
	opacity: 1 !important;
}
.product-card-title{
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.product-card-text{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}